<%= form_with(model: message, class: "contents w-full h-full") do |form| %>
  <% if message && message.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full h-full inline flex mx-2">
    <%= form.text_area :content, class: "rounded-md border border-gray-200 outline-none w-full my-3" %>
  </div>

  <div class="inline">
    <%= form.submit :send, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer mr-1" %>
  </div>
  
<% end %>
