<div id="<%= dom_id message %>">
  <% if user == @current_user.first_name %>
    <div class="my-3 text-right"> 
      <p><b><%= message.user.first_name %></b></p>
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="my-3"> 
      <p><b><%= message.user.first_name %></b></p>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>
