<!DOCTYPE html>
<html>
  <head>
    <title>SlackClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="grid grid-rows-6 grid-flow-col gap-1">
      <div class="bg-gray-500 row-span-6">
        <nav class="p-3 h-screen"> 
          <p>Threads</p>
          <p>Mentions and reactions</p>
          <p>Drafts</p>

          <p>Channels</p>

          <p>Direct messages</p>
        </nav>
      </div>
      <div class="row-span-5 col-span-12">
        <%= yield %>
      </div>
      <div class="col-span-12 content-center flex">
        <div class="p-2 h-5/6 w-full self-center">
          <textarea class="w-full h-full rounded"></textarea>
        </div>
      </div>
    </div>
    
  </body>
</html>
