<!DOCTYPE html>
<html>
  <head>
    <title>SlackClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="sidebar grid grid-rows-6 grid-flow-col gap-1 h-screen">
      <div class="bg-gray-500 row-span-6">
        <nav class="pl-3 pt-3 pr-2 text-white font-bold"> 
          <p>Threads</p>
          <p>Mentions and reactions</p>
          <p>Drafts</p>
          <p>Channels</p>
          <p>Direct messages</p>
        </nav>
      </div>

      <div class="chat-messages row-span-5 col-span-12 overflow-auto pl-3">
        <div id="messages" class="min-w-full">
          <%= render "messages/chat_messages", messages: @messages %>
        </div>
      </div>

      <div class="text-area col-span-12">
          <%= yield %>
      </div>
    </div>

  </body>
</html>
